body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family: "Georgia","Times New Roman","Times","Serif";
    color: #333333
}
header {
    background-color: #333333;

}
h1 {
    color: #eee;
    font-size: 28px;

}
h2 {
    font-size: 24px;
    color: 
}